body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-icon {
  opacity: 0.65;
}

.logo-header {
  background-color: #1b1e21;
  padding-bottom: 1em;
  padding-top: 1em;

  p {
    color: white;
    opacity: 0.85;
    text-transform: uppercase;
  }

  h2 {
    color: white;
    font-weight: 700;
    margin-bottom: 0;
  }

  img {
    max-width: 65px;
  }
}

section {
  padding-top: 3em;
  padding-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1) 0 3px 6px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
}

footer {
  background-color: hsla(100, 100%, 100%, 0.85);
}

ul.footer-list {
  list-style: none;
  list-style-type: 0;
  margin-left: 0;
  padding: 0;

  li {
    font-size: 1.25em;

    svg {
      color: #204975;
      opacity: 0.85;
    }
  }
}

span.bold {
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
}

section.cta {
  padding-bottom: 0;
}

section.banner {
  margin-top: 3em;
  margin-bottom: 3em;
}

.card-title > h3 {
  text-transform: uppercase;
}

div.card {
  margin-bottom: 3em;
}

.multi-room-intro {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fa-check {
  margin-right: 1em;
}

div.cctv-features {
  margin-bottom: 3em;
}

.cctv-features > h4 {
  margin-top: 1em;
}

.nav-link {
  // font-weight: 700;
  letter-spacing: 0.025em;
}

.navbar-brand {
  letter-spacing: 0.025em;
}

.page-title {
  color: hsla(0, 0%, 100%, 0.9);
}

.contact-row {
  div > div > svg {
    margin-bottom: 0.25em;
  }
}

.smart-home-company {
  padding-top: 2em;
}

img.power-house {
  max-width: 22px;
}

.smart-home-company {
  padding-top: 0.5em;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

p.smart-home-tag {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.06em;
  margin-bottom: 0;
  opacity: 0.85;
}

.brand-name {
  font-size: 24px;
}

img.brand-logo {
  padding-top: 5px;
}

span.smart {
  color: #dc5a02;
}

.top-strip {
  background-color: #007bff;
  text-align: right;
}

.page-desc {
  color: hsla(0, 0%, 100%, 0.85);
}
